$app-colors : (
    primary-color: #343a40,
    secondary-color: #e9ecef,
    tertiary-color: #f70027,
    tetrary-color: #306b41
);

@mixin make-app-colors($colors) {
    @each $name, $color in $colors {
        .app-text-#{$name} {
            color: $color;
        };
        .app-bg-#{$name} {
            background-color: $color;
        };
    }
}

@include make-app-colors($app-colors);
