$primary-color: #343a40;
$secondary-color: #e9ecef;
$tertiary-color: #f70027;
$tetrary-color: #306b41;

@mixin make-app-color($color) {
    .app-text-color {
        color: $color;
    };
    .app-background-color {
        background-color: $color;
    };
}

@include make-app-color($primary-color);
@include make-app-color($secondary-color);
@include make-app-color($tertiary-color);
@include make-app-color($tetrary-color);
