:root,
[data-theme="default"] {
  --color-primary: #f0ead6;
  --gray-primary: hsl(46, 46%, 95%);
  --color-secondary: #291720;
  --accent1: #ff041d;
  --accent2: #04a777;
  --accent2-light: #0db381;
  --accent3: #026c7c;
}

[data-theme="light"] {
  --bg-color-primary: #006d77;
  --bg-color-secondary: #e29578;
  --bg-color-tertiary: #edf6f9;
  --bg-color-quaternary: #007344;
  --color-primary: #edf6f9;
}
