// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

//Colors
@import "colors";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

:root,
[data-theme="default"] {
  --bg-color-primary: #343a40;
  --bg-color-secondary: #e9ecef;
  --bg-color-tertiary: #ff041d;
  --bg-color-quaternary: #007344;
  --color-primary: white;
  --color-secondary: black;
}

[data-theme="light"] {
  --bg-color-primary: #006d77;
  --bg-color-secondary: #e29578;
  --bg-color-tertiary: #edf6f9;
  --bg-color-quaternary: #007344;
  --color-primary: #edf6f9;
}

.btn-danger {
  background-color: var(--bg-color-tertiary);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
}

body {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.25rem;
}

.btn {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.25em;
}
