// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

//Colors
@import "colors";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

:root,
[data-theme="default"] {
  --color-primary: #f0ead6;
  --gray-primary: hsl(46, 46%, 95%);
  --color-secondary: #291720;
  --accent1: #ff041d;
  --accent2: #04a777;
}

[data-theme="light"] {
  --bg-color-primary: #006d77;
  --bg-color-secondary: #e29578;
  --bg-color-tertiary: #edf6f9;
  --bg-color-quaternary: #007344;
  --color-primary: #edf6f9;
}

.btn-danger {
  color: black;
  background-color: var(--gray-primary);
  border: 2px solid var(--accent1);
}

.btn-danger:hover {
  color: white;
  background-color: var(--accent1);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}

body {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.25rem;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 1rem;
  }
}

.btn {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.25em;
  padding: 0.4em 1.6em;
  border-radius: 30px;
}

.jumbotron {
  background-color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-secondary) !important;
}
