// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

//Colors
@import "colors";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "./btn";

.color-secondary {
  color: var(--color-secondary) !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 3rem;
  }
}

body {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 1.25rem;
  }
}

.jumbotron {
  background-color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-secondary) !important;
}
